[% FOREACH entry = feed.entries -%][% IF entry.meta.irc_text %][% entry.meta.irc_text %][% ELSE %][% entry.title_text %][% IF entry.tags.size %] [[% entry.tags.join(', ') %]][% END %] [% entry.permalink %][% END %]
[% END -%]
